body {
	background-color: #333
}

#search {
	box-shadow: 0 4px 10px rgb(0 0 0 / 20%)
}

#search-box .s-key {
	background-color: rgba(30,30,30,.9);
	color: #fff
}

#search-box .s-btn {
	color: #888;
	background-color: #ffffff59;
	backdrop-filter: blur(10px)
}

button#search-btn {
	background-color: rgba(30,30,30,.9);
	border-radius: 0 10px 10px 0;
	color: #fff
}

#search-box .s-btn:hover {
	color: #6b7184
}

.search-hot-text {
	background: rgba(30,30,30,.9)
}

.search-hot-text .space-line {
	width: 776px;
	border-top: 1px solid #f2f2f2
}

.search-hot-text li {
	color: #fff
}

.search-hot-text li i {
	color: #e5e5e5
}

.search-hot-text li.current {
	background: #f1f1f1;
	color: #000
}

.search-hot-text li:hover {
	background: #ffffff59;
	color: #000
}

.space-tips .offHistory {
	color: #fff
}

.space-tips .offHistory:hover {
	color: #e2d600
}

.search-engine {
	background-color: rgba(30,30,30,.9);
	box-shadow: 0 4px 10px rgba(0,0,0,.2)
}

.search-engine-list li:hover {
	background-color: #ffffff59
}

::marker {
	color: rgb(0,0,0,0)!important
}

li.lititle {
	color: #ffff
}

div#weather>div>div.info {
	color: #000
}

div#weather>div>div.info>.weather>.weather-icon {
	filter: invert(1)
}

.clock-container p {
	color: #000
}

.colon::before {
	background-color: #000
}

.colon::after {
	background-color: #000
}

.icon {
	background-color: transparent!important
}

div#hitokoto {
	color: #000
}

div#yijian {
	background-color: rgba(30,30,30,.9);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 20px 10px rgb(0 0 0 / 10%)
}

.ggl {
	background-color: #fff
}

p#title {
	color: #fff
}

div#setbg {
	background-color: #fff0
}

div#settingpage {
	color: #fff;
	background-color: rgba(30,30,30,.9)
}

input#backimg {
	border-bottom: 1px solid grey;
	border: 1px solid #eee;
	color: #333
}

#save-backimg64,#start,button#save-backimg {
	background-color: #0e6ec6;
	color: #fff
}

button#close-set {
	background-color: #ff863a;
	color: #fff
}

button#close-yj {
	background-color: #ff863a;
	color: #fff
}

button#nightbtn {
	color: #fff;
	flex: 1 1 0;
	border-radius: 5px;
	display: none;
	cursor: pointer
}

button#daybtn {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	height: 24px;
	background-color: #ff863a;
	font-size: 12px;
	color: #fff;
	cursor: default;
	border-radius: 5px;
	display: block
}

.foot {
	color: #dfdfdf
}

a.footp1 {
	color: #000
}

a.footp2 {
	color: #000
}

a.guanyu {
	color: #000
}

p#footp {
	color: #000
}

a#guanyu {
	color: #000
}

.footer a, span{
	color: #000;
}

div#settingpage2 {
	background-color: rgba(30,30,30,.9);
	box-shadow: 0 0 20px 10px rgb(0 0 0 / 10%)
}

button#local-bg {
	background-color: #0e6ec6;
	color: #fff
}

buttom#mainbg {
	background-color: #0e6ec6!important
}

button#close-localbg {
	background-color: #ff863a;
	color: #fff
}

.url-icon:hover {
	background-color: rgba(30,30,30,.9)
}

.url-title {
	color: gray
}

div#link-set {
	background-color: rgba(30,30,30,.9);
	box-shadow: 0 0 20px 10px rgb(0 0 0 / 10%);
	color: #fff
}

input#title {
	border-bottom: 1px solid grey;
	border: 1px solid #eee;
	color: #333
}

input#url {
	border-bottom: 1px solid grey;
	border: 1px solid #eee;
	color: #333
}
