div#notice{
    position: fixed;
    margin: auto;
    padding: 10px;
    background-color: rgba(255,255,255,0.80);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    height: 80%;
    width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .3s;
    box-shadow: 0 0 20px 10px rgb(0 0 0 / 10%);
    z-index: 10;
}